<article class="mission" id="mission_[[mission.id]]">
  <header>
    <h1>[[mission.org.name]] / [[mission.slug]]</h1>
    <nav>
      <a href="">Overview</a>
      <a href="">Roadmap</a>
    </nav>
  </header>
  <section mission:roadmap mission="[[mission.id]]" class="mission-roadmap">
    <div class="roadmap-milestones" ng:class="{'composing-milestone': mission.composingMilestone}">
      <h5>Milestones</h5>
      <ul class="roadmap-milestones-list" id="ms_list">
        <li ng:repeat="milestone in milestones" ui:sref:active="active">
          <a href ui:sref="Workspace.Mission.Milestone({ msid: milestone.id })">
            <span class="milestone-number">[[$index + 1]].</span>
            <span class="milestone-text">[[milestone.title]]</span>
            <span class="milestone-completion">
              <span class="amt-tasks-completed">0</span> /
              <span class="amt-tasks-total">0</span>
            </span>
          </a>
        </li>
      </ul>
      <div class="roadmap-milestone-composer">
        <div class="roadmap-milestone-composer-fields">
          <a class="close-milestone-composer" ng:click="mission.closeMilestoneComposer()">✗</a>
          <input type="text" ng:model="mission.newMilestone.title" placeholder="Milestone title"/>
          <button ng:click="mission.createMilestone()">Add</button>
        </div>
      </div>
      <div class="open-roadmap-milestone-composer">
        <a href="#milestone_composer" ng:click="mission.openMilestoneComposer()">+ New milestone</a>
      </div>
    </div>
    <div class="roadmap-window" ui:view="roadmap_window"></div>
  </section>
</article>

