<div id="landing">
  <div class="masthead">
    <h1 style="font-family: 'Kaushan Script', cursive; font-size: 3.5em;">
      <img class="miley-logo" src="/static/imgs/miley.png"
           style="width: 75px; position: relative; left: 15px; top: 15px;"/>
      Miley
    </h1>
    <h2 style="font-weight: bold; font-size: 2.4rem;">
      Miley is the free, milestone driven, <em>multi</em>-project
      manager for ambitious people
    </h2>

    <p>
      Don't get swamped juggling roadmaps and daily goals for each
      project. Miley lets you outline projects
      <em>independently</em> and visualize your goals, deadlines, and
      progress <em>together</em>.
    </p>

    <a href="/signup"><button class="button">Try it - It's free</button></a></br>
    <a href="/login" class="login">Or log in</a>
  </div>
</div>
