
<article id="mission" class="mission-[[mission.id]]">
  <header>
    <h1 class="mission-title">[[mission.org.name]] / [[mission.slug]]</h1>
    <div class="mission-actions"></div>
    <div class="mission-description">
      <p>[[mission.description]]</p>
    </div>
  </header>

  <!--<section class="mission-tracker"></section>-->

  <section mission:roadmap mission="[[mission.id]]" class="mission-roadmap">
    <div class="roadmap-milestones">
      <h5>Milestones</h5>
      <ul class="roadmap-milestones-list">
        <li ng:repeat="milestone in milestones" ui:sref:active="active">
          <a href ui:sref="Workspace.Mission.Milestone({ msid: milestone.id })">
            <span class="milestone-number">[[$index + 1]].</span>
            <span class="milestone-text">[[milestone.title]]</span>
            <span class="milestone-completion">
              <span class="amt-tasks-completed">0</span> /
              <span class="amt-tasks-total">0</span>
            </span>
          </a>
        </li>
      </ul>
      <div class="roadmap-milestone-composer">
        <div class="roadmap-milestone-composer-fields"></div>
        <a class="open-milestone-composer"></a>
      </div>
    </div>
    <div class="roadmap-window" ui:view="roadmap_window">
      
    </div>
  </section>
</article>

