
<div workspace id="workspace">
  <div class="modal-wrap" ng:show="false">
    <div class="modal-overlay"></div>
    <div id="workspace_modal" class="modal" ui:view="workspace_modal_window">workspace modal</div>
  </div>
  <div id="workspace_window" ui:view="workspace_window">
    <h6>My workspace</h6>
  </div>
  <div id="workspace_sidebar">
    <h6>My Missions</h6>
    <ul class="mission-navigation">
      <li ng:repeat="m in missions" class="mission-card">
        <a href ui:sref="Workspace.Mission({ uname: m.org.name, mslug: m.slug})">
          <span>[[m.org.name]] / [[m.slug]]</span>
        </a>
      </li>
    </ul>    
  </div>
</div>
